@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@400;600&display=swap');


html,
boddy,
main,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d0d0d0;
}

::-webkit-scrollbar-thumb {
  background: #7d7d7d;
}

::-webkit-scrollbar-thumb:hover {
  background: #3395ff;
}